
.album {
  width: 50%;
  margin: 0px auto;

}

#album-info {
  overflow: hidden;
  font-size: 1rem;
}

.artist {
 font-size: 1rem;
}

#album-title {
  font-size: 1.5rem;
  margin: 0;
}

#song-list {
  border-collapse: collapse;
  clear: both;
  font-weight: 100;
  margin-top: 3rem;
  overflow: hidden;
  width: 100%;
}


#song-number-column {
  width: 40px;
}

#song-duration-column {
  width: 80px;
}



.song {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  background: hsla(0, 0%, 0%, 0.01);
  transition: all 0.2s ease;
}



.song:hover .ion-play,
.song#playing .ion-pause,
.song#paused .ion-play {
  display: block;
}

.song .ion-play,
.song .ion-pause,
.song:hover .song-number,
.song#playing .ion-play,
.song#playing .song-number,
.song#paused .ion-pause,
.song#paused  .song-number {
  display: none;
}

.song:hover {
  background: hsla(0, 0%, 0%, 0.05);
  cursor: pointer;
}

.song#playing {
  background: hsla(0, 0%, 0%, 0.1);
}

.song:hover .song-title {
  color: hsla(0, 0%, 100%, 1);
}

.song:last-child {
  border: none;
}

td {
  padding: 0.75rem;
}


.song button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

.song button:focus {
  outline: none;
  text-shadow: 2px 4px 3px hsla(0,0%,0%,0.25);
}

.song button:focus .song-number {
  display: none;
}

.song button:focus .ion-play {
  display: block;
}

.song#playing button:focus .song-number,
.song#playing button:focus .ion-play {
  display: none;
}

.song#playing button:focus .ion-pause {
  display: block;
}

.song-number {
  color: hsla(0, 0%, 100%, 0.66);
}

.song-duration {
  color: hsla(0, 0%, 100%, 0.5);
  text-align: right;
}
