.player-bar {
  background: hsla(0, 0%, 0%, 0.1);
  bottom: 0;
  height: 150px;
  position: fixed;
  width: 50%;
  margin: 0px auto;
}


#buttons {
  width: 300px;
  margin: auto;
  text-align: center;
}

#buttons button {
  border: none;
  background: none;
  color: white;
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.5);
  transition: all 0.2s ease;
  cursor: pointer;
}

#buttons button:hover, #buttons button:focus {
  outline: none;
  color: hsla(0, 0%, 100%, 1);
  text-shadow: 2px 4px 3px hsla(0,0%,0%,0.25);
}

#buttons #play-pause {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 2rem;
  margin: 0.5rem 1rem 0;
  transform: translateY(0.3rem);
}

#buttons #play-pause:hover {
  color: hsla(0, 0%, 100%, 1);
}

#time-control input {
  float: left;
  width: calc(100% - 80px);
}

#time-control {
  margin: 0.5rem auto;
  /* max-width: 640px; */
  width: 50%;
}


#time-control div,
#volume-control div {
  font-size: 0.8rem;
  color: hsla(0, 0%, 100%, 0.4);
  width: 35px;
  display: block;
  float: left;
  text-align: center;
}

#volume-control div {
  font-size: 0.9rem;
  width: auto;
}


#volume-control input {
  float: center;
  width: calc(100% - 40px);
}

input[type=range] {
  -webkit-appearance: none;
  background: none;
  margin-top: 7px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.8px;
  cursor: pointer;
  background: rgb(239, 57, 139);
  border-radius: 3.4px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: hsla(289, 48%, 85%, 0.5);
  cursor: pointer;
}
