body {
  background-image: url(/assets/images/dark-blur.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: rgb(239, 57, 139);
}

.title {
  font-family: 'Rock Salt', cursive;
  font-size: 5rem;

}

nav {
  background: hsla(0, 0%, 0%, 0.2);
  padding: 1rem 2rem;
}


nav img {
  height: 40px;
}

nav h5 {
  text-align: right;
  margin-right: 2rem;+
  /* not sure how to change the link color */
  color: rgb(239, 57, 139);
}

main {
  width: 100%;
  max-width: 800px;
  margin: 4rem auto 150px;
  padding: 0 1rem;
  box-sizing: border-box;
}


.App {
  text-align: center;
}
